@using Umbraco.Cms.Web.Common.PublishedModels;
@using UTours.Core.ViewComponents
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

<html>
<head>
    <script src="https://unpkg.com/@@sjmc11/tourguidejs/dist/tour.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://unpkg.com/@@sjmc11/tourguidejs/dist/css/tour.min.css">
</head>
<body>



    @await Component.InvokeAsync(nameof(Tours))



</body>
</html>